// general options
$page-padding: 1rem;
$general-text-color: rgb(175, 175, 175);
// main menu settings
$menu-bg-color: rgb(47, 47, 87);
$menu-main-bg-color: rgb(21, 21, 39);
$menu-button-color: rgb(15, 15, 27);
$menu-text-color: rgb(175, 175, 175);
// main page settings
$main-page-bg-color: rgb(47, 47, 87);
$nav-border-width: 2px;
$nav-border-color: rgb(21, 21, 39);
// character stat settings
$character-stat-bg-color: rgb(21, 21, 39);
$stat-border-width: 3px;
$stat-border-color: rgb(15, 15, 27);
$stat-title-bg-color: rgb(15, 15, 27);
$stat-title-text-color: white;